<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Website of ACTPA">
    <meta name="keywords" content="ACTPA, association, petits, commerçants, transfrontaliers, sud-kivu, congo, rdc, développement, économique, femmes, jeunes, paix">
	<!--<meta name="author" content="webThemez.com">-->
	<title>Actpa</title>
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <link rel="favicon" href="assets/images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo.png" class="logo" width="150px" height="100px" alt="Techro HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="about.html">About</a></li>
                   	<li><a href="services.html">Services</a></li>
					<li><a href="price.html">Programs</a></li>
					<li><a href="projects.html">Projects</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="sidebar-right.html">Right Sidebar</a></li>
                            <li><a href="#">Dummy Link1</a></li>
                            <li><a href="#">Dummy Link2</a></li>
                            <li><a href="#">Dummy Link3</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    <header id="head" class="secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- container -->
    <section class="container"> 
	 <div class="row">
            <!-- main content -->
            <section class="col-sm-8 maincontent">
                <h3>Notre organisation</h3>
                <p>
                    <img src="assets/images/atelier3.jpeg" alt="" class="img-rounded pull-right" width="300">
                   L’ACTPA a vu le jour dans un contexte marqué par de profondes difficultés socio-économiques. Depuis 1996, avec l’avènement de l’Alliance des Forces Démocratiques pour la Libération (AFDL) et le déclenchement des guerres successives à l’Est de la RDC, la région du Sud-Kivu a été durement affectée par les conflits armés. Ces crises prolongées ont entraîné :

la détérioration des conditions de vie de la population,

la destruction ou l’abandon des grandes infrastructures économiques,

la précarité généralisée,

et une forte dépendance des ménages à de petites activités de survie.
                <p>L’Association des Petits Commerçants des Produits Agricoles (ACTPA) est une organisation communautaire basée à Uvira, dans la province du Sud-Kivu, en République Démocratique du Congo. Elle regroupe principalement des petits commerçants transfrontaliers et des agriculteurs locaux, dont l’activité économique constitue une source essentielle de revenus et de survie pour leurs familles.



Dans ce contexte, le petit commerce transfrontalier et l’agriculture familiale se sont imposés comme les principales stratégies de résilience pour les communautés. Les familles, privées d’emplois stables et de moyens de subsistance suffisants, ont développé des initiatives locales, souvent à petite échelle, pour répondre à leurs besoins fondamentaux en nourriture, santé, éducation et logement.

C’est pour structurer ces efforts, renforcer la solidarité entre commerçants et agriculteurs, et offrir un cadre d’appui et de développement que l’ACTPA a été créée. Elle se positionne comme une force collective pour :

améliorer la mobilité et la sécurité des petits commerçants transfrontaliers,

offrir un appui technique et financier aux agriculteurs,

promouvoir la coopération et la paix dans une région longtemps fragilisée par les conflits,

et contribuer à l’amélioration des conditions socio-économiques de ses membres.

Aujourd’hui, l’ACTPA se veut non seulement un acteur de développement local, mais aussi un partenaire de plaidoyer pour défendre les intérêts des petits commerçants et producteurs, et un catalyseur de cohésion sociale et de paix dans le Sud-Kivu..</p>
              
            </section>
            <!-- /main -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="panel">
                    <h4>Latest News</h4>
                    <ul class="list-unstyled list-spaces">
                        <li><a href="">plaidoyer</a><br>
                            <span >L’ACTPA mène des actions de plaidoyer pour défendre les droits des petits commerçants et agriculteurs, promouvoir la libre circulation transfrontalière, et encourager des politiques favorables au développement local et à la paix durable.</span></li>
                        <li><a href="">Commerce</a><br>
                            <span >L’ACTPA conduit un plaidoyer en faveur d’un commerce transfrontalier équitable et sans tracasseries</span></li>
                        <li><a href="">agriculture</a><br>
                            <span >L’ACTPA s’engage dans le plaidoyer agricole afin de promouvoir l’accès des petits producteurs aux ressources, aux marchés et aux technologies durables,</span></li>
                        <li><a href="">Security</a><br>
                            <span >L’ACTPA mène un plaidoyer pour la sécurité et la stabilité dans les zones frontalières, en encourageant la coopération communautaire et les politiques publiques favorisant la protection des commerçants.</span></li> 
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 center767">
                        <h3>
                            About us
                        </h3>
                        <img src="assets/images/atelier2.jpeg" alt="">
                        <h4>
                            Proin in neque id nisl blandit
                        </h4>

                        <p>
                            Aliquam eu aliquet quam. Proin in neque id nisl blandit consectetur placerat venenatis mi.
                            Vestibulum ac mauris justo. Vestibulum magna ligula, venenatis in lacus nec, sodales cursus
                            ligula.
                            <br>
                            <br>
                            Morbi ac enim tellus. Aliquam quis condimentum risus. Ut eu arcu non eros tristique blandit
                            vel vel turpis. Duis justo elit, iaculis iaculis mauris at dipisicing elit. Eveniet, unde veniam magnam repudiandae sapiente.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h3>
                            Nos réalisations depuis 2010
                        </h3> 
               
                <strong>2021 – 2025 : Consolidation et impact communautaire</strong>
                <p>Création du Bureau d’appui aux commerçants transfrontaliers pour faciliter le passage aux frontières.

Lancement d’un programme de plaidoyer régional pour la sécurité et la stabilité dans les zones frontalières.

Soutien technique et financier à plus de 500 petits producteurs agricoles.

Partenariats établis avec d’autres organisations locales pour la promotion de la paix et le développement durable.</p>
                <strong>2016 – 2020 : Expansion et renforcement des capacités</strong>
<p>Extension des activités dans plusieurs localités du Sud-Kivu (Uvira, Fizi, et Baraka).

Mise en place du Programme d’appui agro-technique pour améliorer la productivité agricole.

Organisation de sessions de formation sur la gestion financière, la résolution des conflits et la promotion de la paix.

Début du Fonds de microcrédit communautaire ACTPA pour soutenir les petits commerçants et agriculteurs.</p>
                <strong>2010 – 2015 : Mise en place et structuration</strong>
                <p>Création officielle de l’ACTPA et établissement du siège à Uvira.

                     Identification et enregistrement des premiers membres commerçants et agriculteurs.

Organisation des premières formations en gestion de petits commerces et en techniques agricoles de base.

Lancement des premières actions de plaidoyer pour la libre circulation transfrontalière.</p>

                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h3>
                            Approche de gestion :
                        </h3> 
                      
                        <p>
                           L’équipe favorise un mode de gestion participatif et transparent, fondé sur la redevabilité et la collaboration entre les membres.
                           Elle travaille en étroite coordination avec les groupes communautaires locaux, les autorités territoriales et les partenaires techniques et financiers pour garantir l’efficacité et la durabilité des actions menées.
                        </p>
						<p>
						<b>
vel vel turpis. Duis justo elit, iaculis iaculis mauris at, aliquet volutpat mauris.
						</b>
						</p>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Constetuer adipiscing esent</a></li>
                            <li><a href="#">Vestibulum molestie lacus eno</a></li>
                            <li><a href="#">Nummy hendrerit mauris</a></li>
                            <li><a href="#">Phasellus port usce suscipit</a></li>
                            <li><a href="#">Cum sociis natoque penatibu</a></li>
                            <li><a href="#">Magnis dis parturient</a></li>
                        </ul>
                        <p>
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed
                            ullamcorper eleifen d neque nec aliquam. Vivamus nec sagittis enim. Curab itur non nisl
                            aliquet, ornare justo at, tristique metus.
                            Duis pharetra lorem et sem vestibulum, velondime ntum leo imperdiet. Mauris accum
                        </p>
                    </div>
                </div> 
			
       
    </section>
    <!-- /container -->
    <section class="team-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>L’équipe de gestion</h3>
                    <p>L’ACTPA est dirigée par une équipe dynamique, compétente et engagée, qui veille à la bonne mise en œuvre des activités et à la réalisation des objectifs de l’association.
                      Cette équipe combine des profils issus du commerce, de l’agriculture, de la gestion de projets et du développement communautaire, afin d’assurer une gouvernance efficace et participative</p>
                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="assets/images/photo-1.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Theophile LUNDENGE Lelu</h4>
                        <!-- Designation -->
                        <span class="pos">CEO</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="assets/images/photo-2.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Marie Mulimbi</h4>
                        <!-- Designation -->
                        <span class="pos">Director</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="assets/images/photo-3.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Andre Issa</h4>
                        <!-- Designation -->
                        <span class="pos">Manager</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="assets/images/photo-4.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Moise Hussein</h4>
                        <!-- Designation -->
                        <span class="pos">Creative</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="btm-section secpadding">
	  <div class="container">
      <div class="row">
      	      <div class="col-md-4"><div class="title-box clearfix "><h3 class="title-box_primary">New Projects</h3></div> 
            <div class="list styled custom-list">
            <ul>
            <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Femmes, Paix et Sécurité</a></li>
            <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mise en place d’un bureau d’appui aux commerçants transfrontaliers</a></li>
            <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Compagne de sensibilisatio</a></li>
            <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">Autonomisation économique des femmes</a></li>
            <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">World wide IT park</a></li>

            </ul>
            </div>
         </div>
        
        <div class="col-md-4"><div class="title-box clearfix "><h3 class="title-box_primary">Large Projects</h3></div> 
            <div class="list styled custom-list">
            <ul>
            <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Mupaka ni shamba letu</a></li>
            <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Maman Maraichere</a></li>
            <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Micro Credit</a></li>
            <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">Formation Professionnelle</a></li>
            <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Women for Action Project</a></li>

            </ul>
            </div>
         </div>
         <div class="col-md-4"><div class="title-box clearfix "><h3 class="title-box_primary">Our Clients</h3></div> 
            <blockquote class="blockquote-1">
					<p>L’ACTPA accompagne les petits commerçants transfrontaliers, les producteurs agricoles, les femmes et les jeunes du Sud-Kivu.
Nos actions soutiennent aussi les ménages vulnérables affectés par les conflits, afin de renforcer leurs moyens de subsistance et promouvoir la paix dans la région.</p>
					<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote></div>
         
      </div></div>
      </section>
      
    	 
    <footer id="footer">
	 
		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="index.html">Home</a> | 
								<a href="about.html">About</a> |
								<a href="services.html">Services</a> |
								<a href="program.html">Programmes</a> |
								<a href="projects.html">Projects</a> |
								<a href="contact.html">Contact</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								Copyright &copy; 2025.  by <a href="#" rel="develop">Ir.Theophile Lundenge Lelu </a>
							</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>


    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>
